/* You can add global styles to this file, and also import other style files */

.collection-item {
  display: flex;
  align-content: center;
  :first-child {
    margin-right: 5px;
  }
  cursor: pointer;
}
